*{
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
h1{
  color:white;
  font-size: 21px;
}
#download{
  font-size: 12px;
  color:seagreen;
  text-align: center;
}
#waterfall{
  image-orientation: portrait;
  align: center;
}
#camp{
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
}
